@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Chewy&display=swap");

@import "tailwindcss";

/* =====================
   CSS VARIABLES
===================== */
:root {
  --primary-bg: #173e62;
  --primary-color: #b59a78;

  /* MAIN FONTS */
  --font-heading: "Playfair Display", serif;
}

.font-heading {
  font-family: var(--font-heading);
}

/* Base Button */
.click-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 120px;
  padding: 0 18px;
  height: 44px;

  border: 1px solid;
  border-radius: 5px;

  font-size: 15px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap; /* 🔑 prevent breaking */

  color: #979695;
  background: transparent;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.35s ease;
  box-sizing: border-box;
}

/* STYLE 5 */
.btn-style5 {
  border-color: #979695;
  color: #979695;
  box-shadow: 0.3em 0.3em 0 #b59a78;
}

.btn-style5:hover {
  box-shadow: -0.3em -0.3em 0 #979695;
  background-color: #b59a78;
  border-color: #b59a78;
  color: #ffffff;
}

.react-quill-editor {
  height: 300px; /* or whatever you prefer */
  display: flex;
  flex-direction: column;
}

.react-quill-editor .ql-toolbar {
  flex-shrink: 0;
}

.react-quill-editor .ql-container {
  flex: 1;
  overflow-y: auto;
}

.blog-content {
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.blog-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
.blog-content h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.blog-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.blog-content ul,
.blog-content ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.blog-content li {
  margin-bottom: 0.5rem;
}

.blog-content a {
  color: #c4a64a; /* Tailwind blue-600 */
  text-decoration: none;
}

.blog-content blockquote {
  border-left: 4px solid #d1d5db; /* gray-300 */
  padding-left: 1rem;
  color: #6b7280; /* gray-500 */
  font-style: italic;
  margin: 1rem 0;
}

.blog-content ul {
  list-style-type: disc; /* bullets */
}

.blog-content ol {
  list-style-type: decimal; /* numbers */
}

.blog-popup-cta {
  margin: 30px 0;
}
